.cardHome {
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 0.8rem;
    border-radius: 1rem;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1; 
    min-width: 0;
}

.coverImg {
    width: 5.5rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.title {
    line-height: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttonWrapper {
    align-self: flex-start;
}