.form {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1.8rem;
}

.input {
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    border-radius: 0.625rem;
    border: 0;
    width: 100%;
}

.input::placeholder {
    color: var(--clr-dates);
}

.account {
    display: flex;
    justify-content: center;
    gap: 0.4rem;
}

.errorText {
    color: hsl(0, 100%, 33%);
}