.header {
    margin: 2rem 1.5rem;
    display: grid;
    gap: 1rem;
}
.title {
    display: flex;
    gap: 1rem;
}
.searchBar {
    display: flex;
    gap: 0.3rem;
    width: 100%;
    padding: 0.375rem 0.25rem;
    border-radius: 0.625rem;
}
.searchBar input {
    border: 0;
}
